.ant-layout-content {
    padding: 0!important;
}
.Welcome {
    width: 100%;
    height:calc(100vh - 56px);
    padding: 30px 30px 30px 30px;
    background: rgb(244, 245, 249);
    overflow: auto;
}