.ant-upload-list {
    display: none;
}

.PageMain-RightMain{
    display: flex;
    justify-content: center;
    height: 600px;
   

.PageMain-RightMainAsk,.PageMain-RightMainAns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 13px;
    position: relative;
    height:100%;
    box-sizing: border-box;
    border: 1px solid #DCE3EB;
    &::before, &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
    }
    &::before {
        left: -2px;
        top: -2px;
        border-left: 2px solid #00A4FF;
        border-top: 2px solid #00A4FF;
    }
    &::after {
        top: -2px;
        right: -2px;
        border-right: 2px solid #00A4FF;
        border-top: 2px solid #00A4FF;
    }
}
.PageMain-RightMainBg {
    margin: 0 auto;
    width: 99%;
    height: 80%;
    background: rgb(242, 246, 250);
    &::after,&::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
    }
    &::before {
        left: -2px;
        bottom: -2px;
        border-left: 2px solid #00A4FF;
        border-bottom: 2px solid #00A4FF;
    }
    &::after {
        bottom:  -2px;
        right: -2px;
        border-right: 2px solid #00A4FF;
        border-bottom: 2px solid #00A4FF;
    }
}
 .PageMain-RightMainAsk {
    margin-right: 20px;
    width: 65%;
    
    .PageMain-RightMainBg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .PageMain-RightMainAsk-example {
        display: flex;
        height: 22%;
        img{
            width: 100px;
            margin: 10px;
            margin-top: 20px;
            &:hover{
                cursor: pointer;
            }
        }
        .active {
            border: 2px solid #00A4FF;
        }
    }
    

}
.PageMain-RightMainAns {
    width: 35%;
    background: rgb(242, 246, 250);
    justify-content: center;
    align-items: center;
    .PageMain-RightMainBg-container {
  width: 98%;
  height: 98%;
  border: 1px solid #DCE3EB;
  overflow: auto;
  background: rgb(255, 255, 255);

  li{
    border-bottom: 1px solid #DCE3EB;
    width: 100%;
    background: white;
    padding: 10px;
  }
}
}
}
.PageMain-Bottom {
    display: flex;
    width: 90%;
    margin-top: 20px;
    .PageMain-BottomLeft {
        line-height: 40px;
        display: flex;
        flex-wrap: wrap;
        .PageMain-BottomLeftUpload {
            width: 150px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: white;
            background: rgb(0, 164, 255);
            margin-right: 10px;
        }
        .PageMain-input{
            width: 50%;
            margin-left: 10px;
        }
        p {
            font-size: 12px;
        }
    }
}