.PageMain {
    width: 100%;
    background: #f3f5f8;
    box-shadow: inset 8px 8px 20px 0 rgba(55,99,170,.11), inset -8px -8px 20px 0 #fff;
    padding: 40px 20px;
    display: flex;
    .PageMain-Nav{
        margin: 0;
        width: 200px;
        position: relative;
        li {
            position: relative;
            padding: 12px;
            background: #f3f5f8;
            box-shadow: inset 8px 8px 20px 0 rgba(55,99,170,.11), inset -8px -8px 20px 0 #fff;
            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;
            color: #495770;
            text-align: center;
            border: 2px solid transparent;
            transition: all .3s;
            margin-bottom: 20px;
            z-index: 1;
            &:hover{
                cursor: pointer;
            }
        }
        .active {
            padding-right: 30px;
            width: 212px;
            background-image: linear-gradient(0deg, #f4f6f9, #f3f5f8);
            border: 2px solid #fff;
            border-right: none;
            box-shadow: 8px 8px 20px 0 rgba(55,99,170,.1), -8px -8px 20px 0 #fff;
            font-weight: 400;
            color: #495770;
            &::after{
                content: "";
                width: 20px;
                height: 45px;
                position: absolute;
                right: 0px;
                top: 2px;
                background-image: linear-gradient(90deg, rgb(244, 246, 249), rgb(232, 237, 243));
            }
        }
    }
  
}